/* styles/fonts.css */
@font-face {
    font-family: 'Petita';
    src: url('/fonts/petitabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Petita';
    src: url('/fonts/petitalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Petita';
    src: url('/fonts/petitamedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  